body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: black;
    box-sizing: border-box;
    background-image: url('image.png');
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}
.main-section{
    margin-top: 7rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.container{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    height: 750px;
    width: 900px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px 10px 20px;
}
.feedback-head{
    font-size:large;
    font-weight: 600;
}
.first-q{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px 10px 1px 10px;
    gap: 12px;
}
.choice{
    width: 600px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.l1,.l2,.l3,.l4{
    display: flex;
    align-items: center;
    padding: 6px 4px 6px 4px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    width: 200px;
}
.l1:hover,.l2:hover,.l3:hover,.l4:hover{
   background-color: rgba(131, 168, 248, 0.477);
}

button{
    width: 100px;
    height: 40px;
}
a{
    text-decoration: none;
    color: black;
}
.btn:hover{
   cursor: pointer;
   background-color: white;
}
button:hover{
    background-color: #E5A186;
    color: white;
    border: none;
    border-radius: 4px;
}